/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    line-height: 1.6;
    margin: 0;
    padding: 2rem;
}

h1, h2 {
    color: #333;
    margin: 0;
}

img {
    border-radius: 50%;
}

hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* Specific Styles */
#sum p {
    text-align: justify;
}

h2 {
    margin-top: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5rem;
}

li::before {
    content: '•';
    color: #999;
    display: inline-block;
    width: 1em;
    margin-right: .25em;
}

a {
    color: #007bff;
}

footer p {
    text-align: center;
    margin-top: 2rem;
}